Repository credfeto/credfeto-cache-proxy, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-cache-proxy-models, credfeto-cache-proxy-server, credfeto-cache-proxy-storage-filesystem, credfeto-cache-proxy-storage-filesystem-tests, credfeto-cache-proxy-storage-interfaces, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

Changed path
  src/Credfeto.Cache.Proxy.Server/Helpers/ServerStartup.cs
Labels: none

Updated README.md
  README.md
Labels: Markdown, Read Me

Renamed
  src/.idea/.idea.Credfeto.Cache.Proxy/.idea/vcs.xml
Labels: none

Cleanup: Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
Labels: C# Project

Cleanup: FileSystemPackageStorageTests.cs
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/FileSystemPackageStorageTests.cs
Labels: none

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.71.550
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.84.1127
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

More logging
  src/Credfeto.Cache.Proxy.Server/Middleware/CacheMiddleware.cs
  src/Credfeto.Cache.Proxy.Server/Middleware/LoggingExtensions/CacheMiddlewareLoggingExtensions.cs
Labels: none

X-Fowarded host
  src/Credfeto.Cache.Proxy.Server/Helpers/ServerStartup.cs
  src/Credfeto.Cache.Proxy.Server/Middleware/CacheMiddleware.cs
Labels: none

More logging
  src/Credfeto.Cache.Proxy.Server/Middleware/CacheMiddleware.cs
  src/Credfeto.Cache.Proxy.Server/Middleware/LoggingExtensions/CacheMiddlewareLoggingExtensions.cs
Labels: none

Renamed
  src/Credfeto.Cache.Proxy.Server/Helpers/ServerStartup.cs
  src/Credfeto.Cache.Proxy.Server/Middleware/CacheMiddleware.cs
  src/Credfeto.Cache.Proxy.Server/Storage/IContentDownloader.cs
  src/Credfeto.Cache.Proxy.Server/Storage/IContentSource.cs
  src/Credfeto.Cache.Proxy.Server/Storage/INupkgSource.cs
  src/Credfeto.Cache.Proxy.Server/Storage/IPackageDownloader.cs
  src/Credfeto.Cache.Proxy.Server/Storage/Services/ContentDownloader.cs
  src/Credfeto.Cache.Proxy.Server/Storage/Services/ContentSource.cs
  src/Credfeto.Cache.Proxy.Server/Storage/Services/LoggerExtensions/NupkgSourceLoggingExtensions.cs
  src/Credfeto.Cache.Proxy.Server/Storage/Services/LoggerExtensions/PackageDownloaderLoggingExtensions.cs
  src/Credfeto.Cache.Proxy.Server/Storage/Services/NupkgSource.cs
Labels: none

Renamed
  src/Credfeto.Cache.Proxy.Server/Helpers/ServerStartup.cs
  src/Credfeto.Cache.Proxy.Server/Storage/Services/HttpClientNames.cs
  src/Credfeto.Cache.Proxy.Server/Storage/Services/HttpClientSetup.cs
Labels: none

PingPath
  src/Credfeto.Cache.Proxy.Server/Middleware/CacheMiddleware.cs
Labels: none

Don't cache anything that has a ? in it
  src/Credfeto.Cache.Proxy.Server/Middleware/CacheMiddleware.cs
  src/Credfeto.Cache.Proxy.Server/Storage/Services/ContentSource.cs
Labels: none

Should save files per host
  src/Credfeto.Cache.Proxy.Models/Config/CacheServerConfig.cs
  src/Credfeto.Cache.Proxy.Server/Storage/Services/ContentSource.cs
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/FileSystemPackageStorageTests.cs
  src/Credfeto.Cache.Proxy.Storage.FileSystem/FileSystemPackageStorage.cs
  src/Credfeto.Cache.Proxy.Storage.Interfaces/IPackageStorage.cs
Labels: none

Should save files per host
  src/Credfeto.Cache.Proxy.Server/Middleware/LoggingExtensions/CacheMiddlewareLoggingExtensions.cs
Labels: none

Correcting test
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/FileSystemPackageStorageTests.cs
Labels: C# Project

Additional test
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/FileSystemPackageStorageTests.cs
Labels: none

Fixing additonal tests
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/FileSystemPackageStorageTests.cs
  src/Credfeto.Cache.Proxy.Storage.FileSystem/FileSystemPackageStorage.cs
Labels: none

Corrected hostname
  src/Credfeto.Cache.Proxy.Models/Config/CacheServerConfig.cs
Labels: none

[Dependencies] Updating Microsoft.Sbom.Targets (Software Bill Of Materials) to 4.0.3
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

Cleanup: FileSystemPackageStorageTests.cs
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/FileSystemPackageStorageTests.cs
Labels: none

Cleanup: FileSystemPackageStorage.cs
  src/Credfeto.Cache.Proxy.Storage.FileSystem/FileSystemPackageStorage.cs
Labels: none

Cleanup: IPackageStorage.cs
  src/Credfeto.Cache.Proxy.Storage.Interfaces/IPackageStorage.cs
Labels: none

Cleanup: ServerStartup.cs
  src/Credfeto.Cache.Proxy.Server/Helpers/ServerStartup.cs
Labels: none

Cleanup: IContentDownloader.cs
  src/Credfeto.Cache.Proxy.Server/Storage/IContentDownloader.cs
Labels: none

Cleanup: IContentSource.cs
  src/Credfeto.Cache.Proxy.Server/Storage/IContentSource.cs
Labels: none

Cleanup: CacheServerConfig.cs
  src/Credfeto.Cache.Proxy.Models/Config/CacheServerConfig.cs
Labels: none

Cleanup: CacheMiddlewareLoggingExtensions.cs
  src/Credfeto.Cache.Proxy.Server/Middleware/LoggingExtensions/CacheMiddlewareLoggingExtensions.cs
Labels: none

Cleanup: ContentDownloader.cs
  src/Credfeto.Cache.Proxy.Server/Storage/Services/ContentDownloader.cs
Labels: none

Cleanup: ContentSource.cs
  src/Credfeto.Cache.Proxy.Server/Storage/Services/ContentSource.cs
Labels: none

Cleanup: HttpClientNames.cs
  src/Credfeto.Cache.Proxy.Server/Storage/Services/HttpClientNames.cs
Labels: none

Cleanup: HttpClientSetup.cs
  src/Credfeto.Cache.Proxy.Server/Storage/Services/HttpClientSetup.cs
Labels: none

Cleanup: NupkgSourceLoggingExtensions.cs
  src/Credfeto.Cache.Proxy.Server/Storage/Services/LoggerExtensions/NupkgSourceLoggingExtensions.cs
Labels: none

Cleanup: PackageDownloaderLoggingExtensions.cs
  src/Credfeto.Cache.Proxy.Server/Storage/Services/LoggerExtensions/PackageDownloaderLoggingExtensions.cs
Labels: none

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.72.553
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.93.1042
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.93.917
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.13.126
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.85.1130
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-cache-proxy-models":
 - any: [ 'src/$Credfeto.Cache.Proxy.Models/**/*' ]
"credfeto-cache-proxy-server":
 - any: [ 'src/$Credfeto.Cache.Proxy.Server/**/*' ]
"credfeto-cache-proxy-storage-filesystem":
 - any: [ 'src/$Credfeto.Cache.Proxy.Storage.FileSystem/**/*' ]
"credfeto-cache-proxy-storage-filesystem-tests":
 - any: [ 'src/$Credfeto.Cache.Proxy.Storage.FileSystem.Tests/**/*' ]
"credfeto-cache-proxy-storage-interfaces":
 - any: [ 'src/$Credfeto.Cache.Proxy.Storage.Interfaces/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
