Repository credfeto/credfeto-cache-proxy, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-cache-proxy-models, credfeto-cache-proxy-server, credfeto-cache-proxy-storage-filesystem, credfeto-cache-proxy-storage-filesystem-tests, credfeto-cache-proxy-storage-interfaces, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-cache-proxy-models":
 - any: [ 'src/$Credfeto.Cache.Proxy.Models/**/*' ]
"credfeto-cache-proxy-server":
 - any: [ 'src/$Credfeto.Cache.Proxy.Server/**/*' ]
"credfeto-cache-proxy-storage-filesystem":
 - any: [ 'src/$Credfeto.Cache.Proxy.Storage.FileSystem/**/*' ]
"credfeto-cache-proxy-storage-filesystem-tests":
 - any: [ 'src/$Credfeto.Cache.Proxy.Storage.FileSystem.Tests/**/*' ]
"credfeto-cache-proxy-storage-interfaces":
 - any: [ 'src/$Credfeto.Cache.Proxy.Storage.Interfaces/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.102.1190
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.26
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.90.612
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.112.1102
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.31.183
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.111.980
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

Changelog for 0.0.27
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.103.1193
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.113.1105
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.112.983
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.91.615
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.32.186
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.28
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.104.1195
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.92.617
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.114.1107
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.113.985
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.33.188
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.29
  CHANGELOG.md
Labels: Change Log, Markdown

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.11.0.117924
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.105.1202
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.30
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.93.624
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.115.1114
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.114.992
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.34.195
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.22.0
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.v3 (Test Infrastructure) to 2.0.3
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.31
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.106.1206
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.32
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.94.628
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.116.1118
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.115.996
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.35.199
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown
