Repository credfeto/credfeto-cache-proxy, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-cache-proxy-models, credfeto-cache-proxy-server, credfeto-cache-proxy-storage-filesystem, credfeto-cache-proxy-storage-filesystem-tests, credfeto-cache-proxy-storage-interfaces, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-cache-proxy-models":
 - any: [ 'src/$Credfeto.Cache.Proxy.Models/**/*' ]
"credfeto-cache-proxy-server":
 - any: [ 'src/$Credfeto.Cache.Proxy.Server/**/*' ]
"credfeto-cache-proxy-storage-filesystem":
 - any: [ 'src/$Credfeto.Cache.Proxy.Storage.FileSystem/**/*' ]
"credfeto-cache-proxy-storage-filesystem-tests":
 - any: [ 'src/$Credfeto.Cache.Proxy.Storage.FileSystem.Tests/**/*' ]
"credfeto-cache-proxy-storage-interfaces":
 - any: [ 'src/$Credfeto.Cache.Proxy.Storage.Interfaces/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.102.657
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.1.1215
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.12.0.118525
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.43.227
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.124.1027
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.269.1462
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.46
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.115.1242
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.2.1228
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.126.1154
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.103.663
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.44.233
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.125.1033
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

[Config] Updated .editorconfig
  .editorconfig
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

[Actions] Updated .github/workflows/update-labels.yml
  .github/workflows/update-labels.yml
Labels: github-actions

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

Corrected namespace
  src/Credfeto.Cache.Proxy.Server/Helpers/ServerStartup.cs
  src/Credfeto.Cache.Proxy.Server/Storage/Services/ContentSource.cs
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/FileSystemPackageStorageTests.cs
  src/Credfeto.Cache.Proxy.Storage.FileSystem/FileSystemPackageStorage.cs
  src/Credfeto.Cache.Proxy.Storage.Interfaces/IPackageStorage.cs
Labels: none

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.119.1263
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.107.685
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.6.1242
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.6.0
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.130.1175
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.48.254
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.129.1055
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.274.1486
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.47
  CHANGELOG.md
Labels: Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.6.1
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.6.2
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown
