Repository credfeto/credfeto-cache-proxy, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-cache-proxy-models, credfeto-cache-proxy-server, credfeto-cache-proxy-storage-filesystem, credfeto-cache-proxy-storage-filesystem-tests, credfeto-cache-proxy-storage-interfaces, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.85.1130
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.73.555
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.94.1044
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.94.919
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.14.128
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.86.1132
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.74.557
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.95.1046
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.95.921
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.15.130
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Serilog (Serilog logging) to 4.3.0
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.87.1134
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.10.0.116381
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.96.1053
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.NET.Test.Sdk (Test Infrastructure) to 17.14.0
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.97.1054
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.75.564
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.96.931
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.16.137
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.88.1149
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.98.1063
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.97.938
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/todos.yml
  .github/workflows/todos.yml
Labels: github-actions

Net10
  src/global.json
Labels: .NET update

Net10
  src/global.json
Labels: .NET update

Net10
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.76.571
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.17.144
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-cache-proxy-models":
 - any: [ 'src/$Credfeto.Cache.Proxy.Models/**/*' ]
"credfeto-cache-proxy-server":
 - any: [ 'src/$Credfeto.Cache.Proxy.Server/**/*' ]
"credfeto-cache-proxy-storage-filesystem":
 - any: [ 'src/$Credfeto.Cache.Proxy.Storage.FileSystem/**/*' ]
"credfeto-cache-proxy-storage-filesystem-tests":
 - any: [ 'src/$Credfeto.Cache.Proxy.Storage.FileSystem.Tests/**/*' ]
"credfeto-cache-proxy-storage-interfaces":
 - any: [ 'src/$Credfeto.Cache.Proxy.Storage.Interfaces/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
