Repository credfeto/credfeto-cache-proxy, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-cache-proxy-models, credfeto-cache-proxy-server, credfeto-cache-proxy-storage-filesystem, credfeto-cache-proxy-storage-filesystem-tests, credfeto-cache-proxy-storage-interfaces, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.102.1073
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.101.951
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.80.583
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.21.154
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.7
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.93.1163
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.8
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.103.1075
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.102.953
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.81.585
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.22.156
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.22.156
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.9
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.94.1165
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

Changelog for 0.0.10
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.104.1078
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.103.956
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.82.588
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.23.159
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.11
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.95.1168
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

Changelog for 0.0.12
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.83.591
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.105.1081
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.104.959
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.24.162
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.104.959
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.13
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.96.1171
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.14
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.106.1083
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.105.961
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.84.593
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.25.164
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.15
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.97.1173
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-cache-proxy-models":
 - any: [ 'src/$Credfeto.Cache.Proxy.Models/**/*' ]
"credfeto-cache-proxy-server":
 - any: [ 'src/$Credfeto.Cache.Proxy.Server/**/*' ]
"credfeto-cache-proxy-storage-filesystem":
 - any: [ 'src/$Credfeto.Cache.Proxy.Storage.FileSystem/**/*' ]
"credfeto-cache-proxy-storage-filesystem-tests":
 - any: [ 'src/$Credfeto.Cache.Proxy.Storage.FileSystem.Tests/**/*' ]
"credfeto-cache-proxy-storage-interfaces":
 - any: [ 'src/$Credfeto.Cache.Proxy.Storage.Interfaces/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
