Repository credfeto/credfeto-cache-proxy, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-cache-proxy-models, credfeto-cache-proxy-server, credfeto-cache-proxy-storage-filesystem, credfeto-cache-proxy-storage-filesystem-tests, credfeto-cache-proxy-storage-interfaces, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

[Actions] Updated .github/workflows/reformat-sql.yml
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-yaml.yml
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.119.1011
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.98.642
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.39.213
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.41
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.111.1223
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dotnet-version.yml
  .github/workflows/dotnet-version.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-sql.yml
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-yaml.yml
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[Actions] Updated .github/workflows/todos.yml
  .github/workflows/todos.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

Changelog for 0.0.42
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.99.647
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.121.1138
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.120.1016
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.40.218
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.120.1016
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

SDK - Updated DotNet SDK to 9.0.301
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.112.1229
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.122.1140
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.121.1018
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.100.650
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.41.221
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.123.1142
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.122.1020
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.43
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.113.1231
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.101.652
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.124.1144
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.123.1022
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Docker.HealthCheck.Http.Client (Docker healthcheck http client) to 0.0.42.223
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.202
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.44
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.114.1235
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Models/Credfeto.Cache.Proxy.Models.csproj
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem.Tests/Credfeto.Cache.Proxy.Storage.FileSystem.Tests.csproj
  src/Credfeto.Cache.Proxy.Storage.FileSystem/Credfeto.Cache.Proxy.Storage.FileSystem.csproj
  src/Credfeto.Cache.Proxy.Storage.Interfaces/Credfeto.Cache.Proxy.Storage.Interfaces.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Date (Date/Time extensions) to 1.1.125.1148
  CHANGELOG.md
  src/Credfeto.Cache.Proxy.Server/Credfeto.Cache.Proxy.Server.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.0.45
  CHANGELOG.md
Labels: Change Log, Markdown

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-cache-proxy-models":
 - any: [ 'src/$Credfeto.Cache.Proxy.Models/**/*' ]
"credfeto-cache-proxy-server":
 - any: [ 'src/$Credfeto.Cache.Proxy.Server/**/*' ]
"credfeto-cache-proxy-storage-filesystem":
 - any: [ 'src/$Credfeto.Cache.Proxy.Storage.FileSystem/**/*' ]
"credfeto-cache-proxy-storage-filesystem-tests":
 - any: [ 'src/$Credfeto.Cache.Proxy.Storage.FileSystem.Tests/**/*' ]
"credfeto-cache-proxy-storage-interfaces":
 - any: [ 'src/$Credfeto.Cache.Proxy.Storage.Interfaces/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
